In [4]:
from gemmi import cif
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

# Read file

In [2]:
doc = cif.read_file("../data/components.cif")
print('Numver of compoinds in dataset: '+ str(len(doc)))
block = doc[0]

Numver of compoinds in dataset: 43271

# Open the first block with PYMOL
- just go File > Open... and open the cif file of just one block

In [24]:
block.write_file("../data/tmp/data_000.cif")

# Printing

In [3]:
# Print a whole block
for i in block:
    print(i.pair)

('_chem_comp.id', '000')
('_chem_comp.name', '"methyl hydrogen carbonate"')
('_chem_comp.type', 'NON-POLYMER')
('_chem_comp.pdbx_type', 'ATOMP')
('_chem_comp.formula', '"C2 H4 O3"')
('_chem_comp.mon_nstd_parent_comp_id', '?')
('_chem_comp.pdbx_synonyms', '?')
('_chem_comp.pdbx_formal_charge', '0')
('_chem_comp.pdbx_initial_date', '2010-04-27')
('_chem_comp.pdbx_modified_date', '2011-06-04')
('_chem_comp.pdbx_ambiguous_flag', 'N')
('_chem_comp.pdbx_release_status', 'REL')
('_chem_comp.pdbx_replaced_by', '?')
('_chem_comp.pdbx_replaces', '?')
('_chem_comp.formula_weight', '76.051')
('_chem_comp.one_letter_code', '?')
('_chem_comp.three_letter_code', '000')
('_chem_comp.pdbx_model_coordinates_details', '?')
('_chem_comp.pdbx_model_coordinates_missing_flag', 'N')
('_chem_comp.pdbx_ideal_coordinates_details', 'Corina')
('_chem_comp.pdbx_ideal_coordinates_missing_flag', 'N')
('_chem_comp.pdbx_model_coordinates_db_code', '3LIN')
('_chem_comp.pdbx_subcomponent_list', '?')
('_chem_comp.pdbx_processing_site', 'RCSB')
None
None
None
None
None

In [4]:
# print some values of some keys in teh block
print(block.find_pair("_chem_comp.name")[1])
print(block.find_pair("_chem_comp.formula")[1])

"methyl hydrogen carbonate"
"C2 H4 O3"

In [ ]:
# import gemmi

# # Function to print a whole block
# def print_block(block):
#     print("Block name:", block.name)
    
#     # Iterate over all loops and pairs in the block
#     for item in block:
#         if isinstance(item, gemmi.cif.Loop):
#             print("Loop:")
#             print("Tags:", item.tags)
#             for row in item:
#                 print(dict(zip(item.tags, row)))
#         elif isinstance(item, gemmi.cif.Item):
#             print("Item:")
#             print(f"{item.pair[0]} = {item.pair[1]}")
#         else:
#             print("Unknown item type:", type(item))

# print_block(block)

In [5]:
_chem_comp_bond = block.find('_chem_comp_bond.', ['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'])
for i in _chem_comp_bond:
    print(i)

<gemmi.cif.Table.Row: 000 C OXT SING>
<gemmi.cif.Table.Row: 000 O C DOUB>
<gemmi.cif.Table.Row: 000 OA C SING>
<gemmi.cif.Table.Row: 000 CB OA SING>
<gemmi.cif.Table.Row: 000 CB HB SING>
<gemmi.cif.Table.Row: 000 CB HBA SING>
<gemmi.cif.Table.Row: 000 CB HBB SING>
<gemmi.cif.Table.Row: 000 OXT HXT SING>

# Example: Make dataframe for BONDS of one block

In [6]:
import pandas as pd

# Step 1: Read data from the CIF file
_chem_comp_bond = block.find('_chem_comp_bond.', ['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'])
print("Fetched data:", _chem_comp_bond)

# Step 2: Create a DataFrame
_chem_comp_bond_df = pd.DataFrame(columns=['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'])

# Step 3: Populate the DataFrame
# Use a list of dictionaries to efficiently create the DataFrame
rows = []
for row in _chem_comp_bond:
    rows.append(dict(zip(['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'], row)))

_chem_comp_bond_df = pd.DataFrame(rows)

# Print the shape and the DataFrame to verify
print(_chem_comp_bond_df.shape)
print(_chem_comp_bond_df)

Fetched data: <gemmi.cif.Table 8 x 4>
(8, 4)
  comp_id atom_id_1 atom_id_2 value_order
0     000         C       OXT        SING
1     000         O         C        DOUB
2     000        OA         C        SING
3     000        CB        OA        SING
4     000        CB        HB        SING
5     000        CB       HBA        SING
6     000        CB       HBB        SING
7     000       OXT       HXT        SING

# Example: Make dataframe for each ATOM of one block

In [7]:
import gemmi
import pandas as pd

# Define the columns to extract from the CIF block
atom_site_cols =  ['atom_id', 'type_symbol', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z',
                   'pdbx_model_Cartn_x_ideal', 'pdbx_model_Cartn_y_ideal', 'pdbx_model_Cartn_z_ideal', 
                   'pdbx_component_atom_id']

# Find the specified columns in the '_chem_comp_atom.' category of the CIF block
_atom_site = block.find('_chem_comp_atom.', atom_site_cols)

# Create an empty DataFrame with the specified columns
_atom_site_df = pd.DataFrame(columns=atom_site_cols)

# Iterate over each row found in _atom_site and append it to the DataFrame
for row in _atom_site:
    _atom_site_df.loc[len(_atom_site_df)] = list(row)  # Append row data to the DataFrame

# Print the shape (number of rows and columns) of the DataFrame
print(_atom_site_df.shape)

# Display the DataFrame
_atom_site_df

(9, 9)

,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,pdbx_model_Cartn_x_ideal,pdbx_model_Cartn_y_ideal,pdbx_model_Cartn_z_ideal,pdbx_component_atom_id
0,C,C,32.880,-0.090,51.314,-0.456,0.028,-0.001,C
1,O,O,32.160,0.180,50.105,-0.376,1.240,0.001,O
2,OA,O,34.147,-0.940,51.249,0.662,-0.720,0.001,OA
3,CB,C,33.872,-2.227,50.459,1.929,-0.010,-0.001,CB
4,OXT,O,32.419,0.429,52.564,-1.663,-0.566,-0.000,OXT
5,HB,H,34.788,-2.834,50.416,1.996,0.613,-0.892,HB
6,HBA,H,33.076,-2.800,50.957,1.995,0.618,0.888,HBA
7,HBB,H,33.555,-1.969,49.438,2.748,-0.730,0.002,HBB
8,HXT,H,31.625,0.931,52.425,-2.438,0.013,0.002,HXT

## Difference model_Cartn_x and pdbx_model_Cartn_x_ideal

- model_Cartn_x:
    - Definition: This typically refers to the Cartesian coordinates (x-component) of an atom as obtained from the model after refinement against the experimental data.
    - Context: These coordinates are derived from the actual experimental observations and subsequent computational refinement. They represent the positions of atoms as they are best determined from the experimental crystallographic data.

- pdbx_model_Cartn_x_ideal:
    - Definition: This refers to the idealized Cartesian coordinates (x-component) of an atom, usually based on standard geometries and constraints.
    - Context: Ideal coordinates are calculated based on theoretical models or known ideal structures. They might be used for comparison purposes or to provide a standard reference. These coordinates are not derived from experimental data but are instead based on chemical and structural knowledge of what the molecule is expected to look like in its most stable form.

# Save all bonds into a single dataframe

In [8]:
import pandas as pd
from tqdm import tqdm

# Initialize an empty DataFrame with the specified columns
bond_df = pd.DataFrame(columns=['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'])

# Iterate over each block in the document
for blk in tqdm(doc):
    # Find the bond information in the current block
    _chem_comp_bond = blk.find('_chem_comp_bond.', ['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'])
    
    # Extract data directly into a list of dictionaries
    bond_data = [dict(zip(['comp_id', 'atom_id_1', 'atom_id_2', 'value_order'], row)) for row in _chem_comp_bond]
    
    # Create a DataFrame from the extracted bond data
    _chem_comp_bond_df = pd.DataFrame(bond_data)
    
    # Concatenate the current block's DataFrame to the main DataFrame
    bond_df = pd.concat([bond_df, _chem_comp_bond_df], ignore_index=True)

# Save the consolidated DataFrame to a CSV file
bond_df.to_csv('../data/bond_df.csv', index=False)

100%|███████████████████████████████████████| 43271/43271 [48:10<00:00, 14.97it/s]

# Save all compounds into a single dataframe

In [9]:
import pandas as pd
from tqdm import tqdm

# Define the columns to extract from the CIF block
atom_site_cols =  ['comp_id', 'atom_id', 'type_symbol', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z',
                   'pdbx_model_Cartn_x_ideal', 'pdbx_model_Cartn_y_ideal', 'pdbx_model_Cartn_z_ideal', 
                   'pdbx_component_atom_id']

# Initialize an empty DataFrame with the specified columns
data_df = pd.DataFrame(columns=atom_site_cols)

# Iterate over each block in the document
for blk in tqdm(doc):
    # Find the atom site information in the current block
    _atom_site = blk.find('_chem_comp_atom.', atom_site_cols)
    
    # Extract data directly into a list of dictionaries
    atom_site_data = [dict(zip(atom_site_cols, row)) for row in _atom_site]
    
    # Create a DataFrame from the extracted atom site data
    _atom_site_df = pd.DataFrame(atom_site_data)
    
    # Concatenate the current block's DataFrame to the main DataFrame
    data_df = pd.concat([data_df, _atom_site_df], ignore_index=True)

# Save the consolidated DataFrame to a CSV file
data_df.to_csv('../data/atom_df.csv', index=False)

100%|█████████████████████████████████████| 43271/43271 [2:19:17<00:00,  5.18it/s]

# Print the dataframes with slight modifications

In [11]:
import pandas as pd
import numpy as np

# Read the atom site data from the CSV file
atom_df = pd.read_csv('../data/atom_df.csv')

# Add a new column 'is_hydrogen' to indicate if the atom is hydrogen
atom_df['is_hydrogen'] = np.where(atom_df['type_symbol'] == 'H', True, False)

# Select specific columns for the atom DataFrame
atom_df = atom_df[['comp_id', 'atom_id', 'type_symbol', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z', 'is_hydrogen']]

# Read the bond data from the CSV file
bonds_df = pd.read_csv('../data/bond_df.csv')

# Select specific columns and drop rows with any NaN values
bonds_df = bonds_df[['comp_id', 'atom_id_1', 'atom_id_2', 'value_order']].dropna()

# Display the shapes of the DataFrames to confirm they were read correctly
print("Atom DataFrame shape:", atom_df.shape)
print("Bonds DataFrame shape:", bonds_df.shape)

Atom DataFrame shape: (2041187, 7)
Bonds DataFrame shape: (2120857, 4)

In [12]:
atom_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen
0,000,C,C,32.880,-0.090,51.314,False
1,000,O,O,32.160,0.180,50.105,False
2,000,OA,O,34.147,-0.940,51.249,False
3,000,CB,C,33.872,-2.227,50.459,False
4,000,OXT,O,32.419,0.429,52.564,False

In [13]:
bonds_df.head()

  comp_id atom_id_1 atom_id_2 value_order
0     000         C       OXT        SING
1     000         O         C        DOUB
2     000        OA         C        SING
3     000        CB        OA        SING
4     000        CB        HB        SING

In [14]:
bonds_df[bonds_df['comp_id'] == '001'].head()

   comp_id atom_id_1 atom_id_2 value_order
8      001       C01       C02        DOUB
9      001       C01       C06        SING
10     001       C01       C10        SING
11     001       C02       C03        SING
12     001       C02      H021        SING

# Compute number of bonded hydrogens

In [15]:
# Function to get the number of bonded hydrogens for each atom in a compound
def get_bonded_hydrogen(atoms, bonds):
    # Merge bonds to get hydrogen bonding information
    bonds_h1 = bonds[bonds['atom_id_1'].isin(atoms[atoms['is_hydrogen']]['atom_id'])]
    bonds_h2 = bonds[bonds['atom_id_2'].isin(atoms[atoms['is_hydrogen']]['atom_id'])]
    
    # Combine both bond directions
    bonded_hydrogens = pd.concat([
        bonds_h1[['comp_id', 'atom_id_2']].rename(columns={'atom_id_2': 'atom_id'}),
        bonds_h2[['comp_id', 'atom_id_1']].rename(columns={'atom_id_1': 'atom_id'})
    ])
    
    # Count the number of bonded hydrogens for each atom
    hydrogen_counts = bonded_hydrogens['atom_id'].value_counts().to_dict()
    
    # Map the hydrogen counts back to the atoms DataFrame
    atoms['bonded_hydrogens'] = atoms['atom_id'].map(hydrogen_counts).fillna(0).astype(int)
    return atoms['bonded_hydrogens']

In [19]:
# Loop over unique compounds and calculate bonded hydrogens
for comp_id in tqdm(atom_df['comp_id'].unique()):
    comp_atoms = atom_df.loc[atom_df['comp_id'] == comp_id].copy()
    comp_bonds = bonds_df.loc[bonds_df['comp_id'] == comp_id]
    atom_df.loc[atom_df['comp_id'] == comp_id, 'bonded_hydrogens'] = get_bonded_hydrogen(comp_atoms, comp_bonds)
    
# Save the updated atom_df to CSV
atom_df.to_csv('../data/atom_df_extended.csv', index=False)

100%|█████████████████████████████████████| 43270/43270 [5:12:17<00:00,  2.31it/s]

In [17]:
atom_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens
0,000,C,C,32.880,-0.090,51.314,False,0.0
1,000,O,O,32.160,0.180,50.105,False,0.0
2,000,OA,O,34.147,-0.940,51.249,False,0.0
3,000,CB,C,33.872,-2.227,50.459,False,3.0
4,000,OXT,O,32.419,0.429,52.564,False,1.0

# Restrict to only Carbon and one Hydrogen atom

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [9]:
# Number of hydrogen atoms to train a model for and the central atom type
num_hydrogen = 1
central_atom = 'C'

In [ ]:
# Load the DataFrame from a CSV file
data_df = pd.read_csv('../data/atom_df.csv')

# Add a new column 'is_hydrogen' to indicate if the atom is hydrogen
data_df['is_hydrogen'] = np.where(data_df['type_symbol'] == 'H', True, False)

# Identify compounds with missing coordinate data and mark them for dropping
data_df['drop'] = False
drop_comps = data_df['comp_id'].loc[data_df['model_Cartn_x'] == '?'].unique()
for comp_id in tqdm(drop_comps):
    data_df.loc[data_df['comp_id'] == comp_id, 'drop'] = True

# Remove rows with missing data (marked as 'drop' = True)
data_df = data_df.loc[data_df['drop'] == False]

# Keep only the relevant columns for further analysis
data_df = data_df[['comp_id', 'atom_id', 'type_symbol', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z', 'is_hydrogen', 'bonded_hydrogens']]

# Convert coordinate columns from string to numeric (float)
data_df[['model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z']] = data_df[['model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z']].apply(pd.to_numeric)

# Display the first few rows of the processed DataFrame
data_df.head()

# Create Training dataset

In [56]:
atom_df = pd.read_csv('../data/atom_df_extended.csv')
bond_df = pd.read_csv('../data/bond_df.csv')

In [18]:
atom_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens
0,000,C,C,32.880,-0.090,51.314,False,0.0
1,000,O,O,32.160,0.180,50.105,False,0.0
2,000,OA,O,34.147,-0.940,51.249,False,0.0
3,000,CB,C,33.872,-2.227,50.459,False,3.0
4,000,OXT,O,32.419,0.429,52.564,False,1.0

In [19]:
bonds_df.head()

  comp_id atom_id_1 atom_id_2 value_order
0     000         C       OXT        SING
1     000         O         C        DOUB
2     000        OA         C        SING
3     000        CB        OA        SING
4     000        CB        HB        SING

In [10]:
# Filter the DataFrame to create a training dataset
# Select rows where the atom type is the central atom and the number of bonded hydrogens is 1
train_df = atom_df.loc[(atom_df['type_symbol'] == central_atom) & (atom_df['bonded_hydrogens'] == num_hydrogen)]
train_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens
10,001,C02,C,25.498,13.476,26.660,False,1.0
14,001,C06,C,27.300,11.861,26.289,False,1.0
31,001,C16,C,27.938,12.754,21.659,False,1.0
35,001,C18,C,30.921,13.770,23.757,False,1.0
40,001,C23,C,35.552,13.034,23.155,False,1.0

### Print how many rows of a column are nan

In [31]:
atom_df_extended = atom_df.copy()

In [37]:
def print_nan_counts(df):
    for column in df.columns:
        nan_count = df[column].isna().sum()
        print(f"Column '{column}' has {nan_count} NaN values")

# Print NaN counts for each column in atom_df_extended
print_nan_counts(atom_df_extended)

Column 'comp_id' has 1 NaN values
Column 'atom_id' has 203 NaN values
Column 'type_symbol' has 11 NaN values
Column 'model_Cartn_x' has 0 NaN values
Column 'model_Cartn_y' has 0 NaN values
Column 'model_Cartn_z' has 0 NaN values
Column 'is_hydrogen' has 0 NaN values
Column 'bonded_hydrogens' has 1 NaN values

In [41]:
len(atom_df_extended)

2041187

### remove all molecules that have at least one row with nan value

In [42]:
# Identify rows with NaN values in any column
nan_rows = atom_df_extended[atom_df_extended.isna().any(axis=1)]

# Create a set to keep track of comp_ids to delete
comp_ids_to_delete = set()

# Loop through rows with NaN values
for index, row in nan_rows.iterrows():
    comp_id = row['comp_id']
    if pd.notna(comp_id):
        # Add the comp_id to the set
        comp_ids_to_delete.add(comp_id)
    else:
        # If comp_id is NaN, delete only this row
        atom_df_extended.drop(index, inplace=True)

# Delete all rows with comp_ids in the set
atom_df_extended = atom_df_extended[~atom_df_extended['comp_id'].isin(comp_ids_to_delete)]

# Reset index for the modified DataFrame
atom_df_extended.reset_index(drop=True, inplace=True)

atom_df_extended.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens
0,000,C,C,32.880,-0.090,51.314,False,0.0
1,000,O,O,32.160,0.180,50.105,False,0.0
2,000,OA,O,34.147,-0.940,51.249,False,0.0
3,000,CB,C,33.872,-2.227,50.459,False,3.0
4,000,OXT,O,32.419,0.429,52.564,False,1.0

In [54]:
print("Deleted Comp Ids (Molecules): ", comp_ids_to_delete)
print("Number of deleted Molecules: ", len(comp_ids_to_delete))

Deleted Comp Ids (Molecules):  {'HME', 'FEC', 'G9R', 'FWL', 'BLR', 'BVX', '7HE', 'FHH', 'WRK', '1FH', 'BLV', 'POR', 'ZPO', 'POH', 'PPE', 'YOK', 'VER', 'IBO', 'FEA', 'PHO', 'BW9', 'UPB', '1G9', 'VHG', '18B', 'DBV', 'YOL', '6E1', 'R2H', 'HEG', 'DPM', 'CLA', 'HNN', '76R', 'HIR', 'DEU', 'BRN', 'KC1', 'COH', 'MH0', '9D7', 'AOH', 'CYB', 'SRM', '6CQ', 'CL7', 'CCH', 'CL2', 'YTT', 'CYC', '2GO', 'G2O', 'DDH', 'NA6', 'HEV', 'J1R', 'NAW', 'BLM', '522', 'HIF', 'BH1', '9UY', '6HE', 'SPI', 'M1V', 'CL1', 'BL3', 'HEA', 'JRA', 'PBG', 'VSU', 'CL0', 'NA2', 'RUR', 'GIX', 'ISW', '111', 'QU8', 'H27', '9V1', 'J28', 'GB0', 'HFM', 'PUB', 'HE5', 'CLN', 'BLA', '70B', '29P', 'BL8', 'BBH', 'UYC', 'PXQ', 'ZNH', 'UFE', 'V8U', '2FH', '4HE', 'HDA', 'GTZ', 'HNI', 'MM3', 'PNI', 'AX9', 'HEB', 'PP9', 'MHZ', 'ZSN', 'ORX', 'KPX', 'HP5', 'P2Y', 'KE5', 'WUF', 'FMI', 'WHL', 'KEQ', 'SHN', '6CO', 'FDE', 'J1S', 'DHE', 'MNR', 'HAV', 'CGO', 'PQ2', 'CZM', 'IOM', 'R2K', 'MMM', 'A1ADT', 'S27', 'L85', 'HDM', 'PDG', 'H02', 'RCC', 'SIR', 'HAS', 'BLB', 'DGQ', 'KQ6', 'F6C', 'MNH', 'DE9', 'HE6', 'PMR', 'HES', 'LVQ', '68G', 'PEB', 'BPH', 'Y1V', 'MD9', 'YOM', 'N7H', 'BCB', '1ED', 'PMY', 'NA5', 'TBV', 'F43', 'GBF', 'HCO', 'CV0', 'X2I', '1G4', 'USN', 'PCU', 'PL1', '1GB', '52G', 'HDE', 'FDD', 'XZA', 'BCL', 'CHL', 'HEC', 'RMD', 'IH3', 'NTE', 'BY6', 'OBV', 'HEM', 'BPB', '1G7', '3HX', 'KY7', 'GS0', 'NAO', 'HDD', 'MHM', 'BMD', 'KC2', 'ZEM', 'PO6', 'HEO', '18W', '35N', 'EL5', '08I', '3ZZ', '07D', 'KP9'}
Number of deleted Molecules:  204

In [44]:
len(atom_df_extended)

2025562

In [52]:
print("Number of deleted rows: ", 2041187 - 2025562)

Number of deleted rows:  15625

In [47]:
# check that there are really no more nan values
atom_df_extended.isna().sum()

comp_id             0
atom_id             0
type_symbol         0
model_Cartn_x       0
model_Cartn_y       0
model_Cartn_z       0
is_hydrogen         0
bonded_hydrogens    0
dtype: int64

In [53]:
# there should be no none here
atom_df_extended['type_symbol'].unique()

array(['C', 'O', 'H', 'F', 'N', 'S', 'P', 'CL', 'I', 'B', 'BR', 'SE',
       'RU', 'BE', 'TE', 'PT', 'AG', 'FE', 'RH', 'SI', 'CU', 'SB', 'AS',
       'OS', 'V', 'W', 'MO', 'IR', 'HG', 'CO', 'NI', 'PU', 'TI', 'AU',
       'CA', 'ZN', 'TB', 'PR', 'IN', 'K', 'CR', 'AL', 'AM', 'MG', 'AR',
       'X', 'BA', 'BI', 'CD', 'CE', 'CF', 'CS', 'PB', 'D', 'DY', 'ER',
       'EU', 'PD', 'GA', 'GD', 'HF', 'SN', 'HO', 'U', 'MN', 'LU', 'RE',
       'KR', 'LA', 'LI', 'ND', 'SR', 'RB', 'SC', 'SM', 'YB', 'TA', 'TH',
       'TL', 'XE', 'Y', 'CM', 'ZR'], dtype=object)

In [49]:
atom_df_extended['atomic_number'] = atom_df_extended['type_symbol'].apply(lambda x: gemmi.Element(x).atomic_number)

C:\Users\Hasan\AppData\Local\Temp\ipykernel_1980\3376526728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atom_df_extended['atomic_number'] = atom_df_extended['type_symbol'].apply(lambda x: gemmi.Element(x).atomic_number)

In [51]:
atom_df_extended.head(20)

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
0,000,C,C,32.880,-0.090,51.314,False,0.0,6
1,000,O,O,32.160,0.180,50.105,False,0.0,8
2,000,OA,O,34.147,-0.940,51.249,False,0.0,8
3,000,CB,C,33.872,-2.227,50.459,False,3.0,6
4,000,OXT,O,32.419,0.429,52.564,False,1.0,8
5,000,HB,H,34.788,-2.834,50.416,True,0.0,1
6,000,HBA,H,33.076,-2.800,50.957,True,0.0,1
7,000,HBB,H,33.555,-1.969,49.438,True,0.0,1
8,000,HXT,H,31.625,0.931,52.425,True,0.0,1
9,001,C01,C,26.108,12.501,25.848,False,0.0,6
10,001,C02,C,25.498,13.476,26.660,False,1.0,6
11,001,C03,C,26.077,13.812,27.910,False,0.0,6
12,001,C04,C,27.271,13.166,28.347,False,0.0,6
13,001,C05,C,27.879,12.190,27.538,False,0.0,6
14,001,C06,C,27.300,11.861,26.289,False,1.0,6
15,001,O03,O,25.493,14.769,28.709,False,0.0,8
16,001,C07,C,24.318,15.454,28.253,False,3.0,6
17,001,O04,O,27.862,13.516,29.556,False,0.0,8
18,001,C08,C,27.081,13.366,30.766,False,3.0,6
19,001,O05,O,29.004,11.523,28.001,False,0.0,8

## Do all at once

In [ ]:
atom_df = pd.read_csv('../data/atom_df_extended.csv')
bond_df = pd.read_csv('../data/bond_df.csv')

In [58]:
# Initial row counts
initial_atom_row_count = len(atom_df)
initial_bond_row_count = len(bond_df)

# Step 1: Identify rows with NaN comp_id and collect comp_ids to delete
nan_comp_ids = set()

# Find NaN comp_ids in atom_df
nan_atom_rows = atom_df[atom_df.isna().any(axis=1)]
nan_comp_ids.update(nan_atom_rows['comp_id'])

# Find NaN comp_ids in bond_df
nan_bond_rows = bond_df[bond_df.isna().any(axis=1)]
nan_comp_ids.update(nan_bond_rows['comp_id'])

# Step 2: Remove rows with NaN comp_ids from both dataframes
atom_df = atom_df.dropna(subset=['comp_id'])
bond_df = bond_df.dropna(subset=['comp_id'])

# Step 3: Convert comp_id to set for efficient lookup
nan_comp_ids = set(nan_comp_ids)

# Find all unique comp_ids to delete from atom_df and bond_df
comp_ids_to_delete = set(atom_df[atom_df['comp_id'].isin(nan_comp_ids)]['comp_id']).union(
                     set(bond_df[bond_df['comp_id'].isin(nan_comp_ids)]['comp_id']))

# Step 4: Delete rows with identified comp_ids from both dataframes
atom_df = atom_df[~atom_df['comp_id'].isin(comp_ids_to_delete)]
bond_df = bond_df[~bond_df['comp_id'].isin(comp_ids_to_delete)]

# Final row counts
final_atom_row_count = len(atom_df)
final_bond_row_count = len(bond_df)

# Step 5: Print results
print(f"Identified {len(nan_comp_ids)} unique comp_ids with NaN values.")
print(f"Deleted {initial_atom_row_count - final_atom_row_count} rows from atom_df.")
print(f"Deleted {initial_bond_row_count - final_bond_row_count} rows from bond_df.")

Identified 204 unique comp_ids with NaN values.
Deleted 15624 rows from atom_df.
Deleted 16588 rows from bond_df.

In [59]:
# make new column atomic number and depending on the type symbol used, give the atomic number
# E.g. in the periodic table, the atom C has the atomic number 6
atom_df['atomic_number'] = atom_df['type_symbol'].apply(lambda x: gemmi.Element(x).atomic_number)

In [64]:
# Define the mapping from string to integer
value_order_mapping = {
    'SING': 1,
    'DOUB': 2,
    'TRIP': 3
}

# Replace the values in the 'value_order' column
bond_df['value_order'] = bond_df['value_order'].replace(value_order_mapping)

C:\Users\Hasan\AppData\Local\Temp\ipykernel_1980\1289298887.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bond_df['value_order'] = bond_df['value_order'].replace(value_order_mapping)

In [86]:
atom_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
0,000,C,C,32.880,-0.090,51.314,False,0.0,6
1,000,O,O,32.160,0.180,50.105,False,0.0,8
2,000,OA,O,34.147,-0.940,51.249,False,0.0,8
3,000,CB,C,33.872,-2.227,50.459,False,3.0,6
4,000,OXT,O,32.419,0.429,52.564,False,1.0,8

In [85]:
bond_df.head()

  comp_id atom_id_1 atom_id_2  value_order
0     000         C       OXT            1
1     000         O         C            2
2     000        OA         C            1
3     000        CB        OA            1
4     000        CB        HB            1

# Filter the atom_df dataframe to central atom C and 1 hydrogen atom

In [67]:
# Filter the DataFrame to create a training dataset
# Select rows where the atom type is the central atom and the number of bonded hydrogens is 1
atom_df_filtered = atom_df.loc[(atom_df['type_symbol'] == central_atom) & (atom_df['bonded_hydrogens'] == num_hydrogen)]
atom_df_filtered.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
10,001,C02,C,25.498,13.476,26.660,False,1.0,6
14,001,C06,C,27.300,11.861,26.289,False,1.0,6
31,001,C16,C,27.938,12.754,21.659,False,1.0,6
35,001,C18,C,30.921,13.770,23.757,False,1.0,6
40,001,C23,C,35.552,13.034,23.155,False,1.0,6

In [91]:
bond_df[(bond_df['comp_id'] == '001') & ((bond_df['atom_id_1'] == 'C02') | (bond_df['atom_id_2'] == 'C02')) ]

   comp_id atom_id_1 atom_id_2  value_order
8      001       C01       C02            2
11     001       C02       C03            1
12     001       C02      H021            1

In [96]:
atom_df[(atom_df['comp_id'] == '001') & (((atom_df['atom_id'] == 'C01') | (atom_df['atom_id'] == 'C03')) | (atom_df['atom_id'] == 'H021'))]

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
9,001,C01,C,26.108,12.501,25.848,False,0.0,6
11,001,C03,C,26.077,13.812,27.910,False,0.0,6
54,001,H021,H,24.573,13.972,26.319,True,0.0,1

In [102]:
# Function to create feature vectors
def create_feature_vectors(atom_df_filtered, atom_df, bond_df):
    feature_vectors = []

    for _, row in tqdm(atom_df_filtered.iterrows(), total=atom_df_filtered.shape[0]):
        feature = []

        # add features of central atom
        feature.append(row['atomic_number'])
        feature.append(row['model_Cartn_x'])
        feature.append(row['model_Cartn_y'])
        feature.append(row['model_Cartn_z'])
        
        comp_id = row['comp_id']
        atom_id = row['atom_id']
        
        # Identify matching rows in bond_df
        matching_bonds = bond_df[(bond_df['comp_id'] == comp_id) & 
                                 ((bond_df['atom_id_1'] == atom_id) | (bond_df['atom_id_2'] == atom_id))]
        
        # Append matching bonds to the list
        for _, bond_row in matching_bonds.iterrows():
            if bond_row['atom_id_1'] == atom_id:
                matched_atom = atom_df[(atom_df['comp_id'] == comp_id) & (atom_df['atom_id'] == bond_row['atom_id_2'])].iloc[0]
                feature.append(matched_atom['atomic_number'])
                feature.append(bond_row['value_order'])
                feature.append(matched_atom['model_Cartn_x'])
                feature.append(matched_atom['model_Cartn_y'])
                feature.append(matched_atom['model_Cartn_z'])
            elif bond_row['atom_id_2'] == atom_id:
                matched_atom = atom_df[(atom_df['comp_id'] == comp_id) & (atom_df['atom_id'] == bond_row['atom_id_1'])].iloc[0]
                feature.append(matched_atom['atomic_number'])
                feature.append(bond_row['value_order'])
                feature.append(matched_atom['model_Cartn_x'])
                feature.append(matched_atom['model_Cartn_y'])
                feature.append(matched_atom['model_Cartn_z'])
            else:
                print("Mistake happended")
                return

        # add the feature to the feature vectors
        feature_vectors.append(feature)
    
    return feature_vectors

In [103]:
import time

start = time.time()

# Create feature vectors
feature_vectors = create_feature_vectors(atom_df_filtered.head(10), atom_df, bond_df)

print("Time needed: ", time.time() - start)

# Print results
print(feature_vectors)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:13<00:00,  1.35s/it]

Time needed:  13.53098464012146
[[6, '25.498', '13.476', '26.660', 6, 2, '26.108', '12.501', '25.848', 6, 1, '26.077', '13.812', '27.910', 1, 1, '24.573', '13.972', '26.319'], [6, '27.300', '11.861', '26.289', 6, 1, '26.108', '12.501', '25.848', 6, 2, '27.879', '12.190', '27.538', 1, 1, '27.782', '11.099', '25.653'], [6, '27.938', '12.754', '21.659', 7, 1, '26.958', '12.941', '22.761', 6, 1, '27.564', '13.571', '20.408', 6, 1, '29.320', '13.158', '22.147', 1, 1, '27.929', '11.677', '21.367'], [6, '30.921', '13.770', '23.757', 8, 1, '29.567', '13.406', '23.456', 6, 1, '31.603', '12.604', '24.468', 6, 1, '30.983', '15.038', '24.632', 1, 1, '31.451', '13.996', '22.802'], [6, '35.552', '13.034', '23.155', 6, 2, '34.617', '11.998', '23.378', 7, 1, '36.204', '13.109', '21.980', 1, 1, '35.777', '13.801', '23.914'], [6, '35.987', '12.205', '20.983', 7, 2, '36.204', '13.109', '21.980', 6, 1, '35.064', '11.161', '21.140', 1, 1, '36.559', '12.318', '20.047'], [6, '35.064', '11.161', '21.140', 6, 1, '35.987', '12.205', '20.983', 6, 2, '34.371', '11.062', '22.354', 1, 1, '34.887', '10.435', '20.328'], [6, '34.371', '11.062', '22.354', 6, 1, '34.617', '11.998', '23.378', 6, 2, '35.064', '11.161', '21.140', 1, 1, '33.636', '10.252', '22.502'], [6, '27.048', '16.577', '26.093', 6, 2, '28.253', '16.389', '26.784', 6, 1, '26.148', '17.559', '26.509', 1, 1, '26.807', '15.949', '25.218'], [6, '26.148', '17.559', '26.509', 6, 1, '27.048', '16.577', '26.093', 6, 2, '26.454', '18.360', '27.617', 1, 1, '25.199', '17.701', '25.964']]

In [107]:
# Function to create feature vectors
def create_feature_vectors2(atom_df_filtered, atom_df, bond_df):
    feature_vectors = []

    # Create a dictionary for fast lookups
    atom_dict = {(row['comp_id'], row['atom_id']): row for _, row in atom_df.iterrows()}

    for _, row in tqdm(atom_df_filtered.iterrows(), total=atom_df_filtered.shape[0]):
        feature = []

        # Add features of central atom
        feature.append(row['atomic_number'])
        feature.append(row['model_Cartn_x'])
        feature.append(row['model_Cartn_y'])
        feature.append(row['model_Cartn_z'])
        
        comp_id = row['comp_id']
        atom_id = row['atom_id']
        
        # Identify matching rows in bond_df
        matching_bonds = bond_df[(bond_df['comp_id'] == comp_id) & 
                                 ((bond_df['atom_id_1'] == atom_id) | (bond_df['atom_id_2'] == atom_id))]

        # Append matching bonds to the list
        for _, bond_row in matching_bonds.iterrows():
            if bond_row['atom_id_1'] == atom_id:
                matched_atom = atom_dict[(comp_id, bond_row['atom_id_2'])]
                feature.append(matched_atom['atomic_number'])
                feature.append(bond_row['value_order'])
                feature.append(matched_atom['model_Cartn_x'])
                feature.append(matched_atom['model_Cartn_y'])
                feature.append(matched_atom['model_Cartn_z'])
            elif bond_row['atom_id_2'] == atom_id:
                matched_atom = atom_dict[(comp_id, bond_row['atom_id_1'])]
                feature.append(matched_atom['atomic_number'])
                feature.append(bond_row['value_order'])
                feature.append(matched_atom['model_Cartn_x'])
                feature.append(matched_atom['model_Cartn_y'])
                feature.append(matched_atom['model_Cartn_z'])
            else:
                print("Mistake happened")
                return

        # Add the feature to the feature vectors
        feature_vectors.append(feature)
    
    return feature_vectors

In [108]:
import time

start = time.time()

# Create feature vectors
feature_vectors = create_feature_vectors2(atom_df_filtered.head(10), atom_df, bond_df)

print("Time needed: ", time.time() - start)

# Print results
print(feature_vectors)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:04<00:00,  2.41it/s]

Time needed:  94.30393528938293
[[6, '25.498', '13.476', '26.660', 6, 2, '26.108', '12.501', '25.848', 6, 1, '26.077', '13.812', '27.910', 1, 1, '24.573', '13.972', '26.319'], [6, '27.300', '11.861', '26.289', 6, 1, '26.108', '12.501', '25.848', 6, 2, '27.879', '12.190', '27.538', 1, 1, '27.782', '11.099', '25.653'], [6, '27.938', '12.754', '21.659', 7, 1, '26.958', '12.941', '22.761', 6, 1, '27.564', '13.571', '20.408', 6, 1, '29.320', '13.158', '22.147', 1, 1, '27.929', '11.677', '21.367'], [6, '30.921', '13.770', '23.757', 8, 1, '29.567', '13.406', '23.456', 6, 1, '31.603', '12.604', '24.468', 6, 1, '30.983', '15.038', '24.632', 1, 1, '31.451', '13.996', '22.802'], [6, '35.552', '13.034', '23.155', 6, 2, '34.617', '11.998', '23.378', 7, 1, '36.204', '13.109', '21.980', 1, 1, '35.777', '13.801', '23.914'], [6, '35.987', '12.205', '20.983', 7, 2, '36.204', '13.109', '21.980', 6, 1, '35.064', '11.161', '21.140', 1, 1, '36.559', '12.318', '20.047'], [6, '35.064', '11.161', '21.140', 6, 1, '35.987', '12.205', '20.983', 6, 2, '34.371', '11.062', '22.354', 1, 1, '34.887', '10.435', '20.328'], [6, '34.371', '11.062', '22.354', 6, 1, '34.617', '11.998', '23.378', 6, 2, '35.064', '11.161', '21.140', 1, 1, '33.636', '10.252', '22.502'], [6, '27.048', '16.577', '26.093', 6, 2, '28.253', '16.389', '26.784', 6, 1, '26.148', '17.559', '26.509', 1, 1, '26.807', '15.949', '25.218'], [6, '26.148', '17.559', '26.509', 6, 1, '27.048', '16.577', '26.093', 6, 2, '26.454', '18.360', '27.617', 1, 1, '25.199', '17.701', '25.964']]

# Try this with Joins

In [110]:
atom_df_extended.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
0,000,C,C,32.880,-0.090,51.314,False,0.0,6
1,000,O,O,32.160,0.180,50.105,False,0.0,8
2,000,OA,O,34.147,-0.940,51.249,False,0.0,8
3,000,CB,C,33.872,-2.227,50.459,False,3.0,6
4,000,OXT,O,32.419,0.429,52.564,False,1.0,8

In [111]:
# Merge on comp_id and atom_id_1
merged_1 = atom_df_filtered.merge(bond_df, left_on=['comp_id', 'atom_id'], right_on=['comp_id', 'atom_id_1'], suffixes=('', '_bond_1'))

# Merge on comp_id and atom_id_2
merged_2 = atom_df_filtered.merge(bond_df, left_on=['comp_id', 'atom_id'], right_on=['comp_id', 'atom_id_2'], suffixes=('', '_bond_2'))

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1
2,001,C06,C,27.300,11.861,26.289,False,1.0,6,C06,H061,1
3,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,C17,1
4,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,H161,1

In [112]:
merged_1.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1
2,001,C06,C,27.300,11.861,26.289,False,1.0,6,C06,H061,1
3,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,C17,1
4,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,H161,1

In [113]:
merged_2.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C01,C02,2
1,001,C06,C,27.300,11.861,26.289,False,1.0,6,C01,C06,1
2,001,C06,C,27.300,11.861,26.289,False,1.0,6,C05,C06,2
3,001,C16,C,27.938,12.754,21.659,False,1.0,6,N12,C16,1
4,001,C16,C,27.938,12.754,21.659,False,1.0,6,C15,C16,1

In [114]:
# Concatenate the two merged DataFrames
result_df = pd.concat([merged_1, merged_2], ignore_index=True)
result_df.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1
2,001,C06,C,27.300,11.861,26.289,False,1.0,6,C06,H061,1
3,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,C17,1
4,001,C16,C,27.938,12.754,21.659,False,1.0,6,C16,H161,1

In [116]:
result_df[(result_df['comp_id'] == '001') & (result_df['atom_id'] == 'C02')]

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1
634432,001,C02,C,25.498,13.476,26.660,False,1.0,6,C01,C02,2

In [117]:
# Sort the result_df by comp_id first and then by atom_id
result_df_sorted = result_df.sort_values(by=['comp_id', 'atom_id']).reset_index(drop=True)
result_df_sorted.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1
2,001,C02,C,25.498,13.476,26.660,False,1.0,6,C01,C02,2
3,001,C06,C,27.300,11.861,26.289,False,1.0,6,C06,H061,1
4,001,C06,C,27.300,11.861,26.289,False,1.0,6,C01,C06,1

In [131]:
# Function to determine the correct join column and perform the join
def join_atom_coordinates(atom_df_extended, atom_df):
    # Create a copy of the DataFrame to avoid modifying the original one
    df = atom_df_extended.copy()

    # Determine the correct join column
    df['join_on_atom_id'] = df.apply(
        lambda row: row['atom_id_2'] if row['atom_id'] == row['atom_id_1'] else row['atom_id_1'], axis=1
    )

    # Perform the join
    merged_df = df.merge(
        atom_df[['comp_id', 'atom_id', 'atomic_number', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z']],
        left_on=['comp_id', 'join_on_atom_id'],
        right_on=['comp_id', 'atom_id'],
        suffixes=('', '_joined')
    )

    # Extract and rename the coordinates columns
    merged_df = merged_df.rename(
        columns={
            'model_Cartn_x_joined': 'model_Cartn_x2',
            'model_Cartn_y_joined': 'model_Cartn_y2',
            'model_Cartn_z_joined': 'model_Cartn_z2'
        }
    )

    # Keep only the necessary columns
    result_df = merged_df[
        ['comp_id', 'atom_id', 'type_symbol', 'model_Cartn_x', 'model_Cartn_y', 'model_Cartn_z', 'is_hydrogen', 
         'bonded_hydrogens', 'atomic_number', 'atom_id_1', 'atom_id_2', 'value_order', 'model_Cartn_x2', 'model_Cartn_y2', 'model_Cartn_z2', 'atomic_number_joined']
    ]

    return result_df

In [132]:
# Apply the function and print the result
result_df_final = join_atom_coordinates(result_df_sorted, atom_df)

In [133]:
result_df_final.head()

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number,atom_id_1,atom_id_2,value_order,model_Cartn_x2,model_Cartn_y2,model_Cartn_z2,atomic_number_joined
0,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,C03,1,26.077,13.812,27.910,6
1,001,C02,C,25.498,13.476,26.660,False,1.0,6,C02,H021,1,24.573,13.972,26.319,1
2,001,C02,C,25.498,13.476,26.660,False,1.0,6,C01,C02,2,26.108,12.501,25.848,6
3,001,C06,C,27.300,11.861,26.289,False,1.0,6,C06,H061,1,27.782,11.099,25.653,1
4,001,C06,C,27.300,11.861,26.289,False,1.0,6,C01,C06,1,26.108,12.501,25.848,6

In [145]:
result_df_final.to_csv('../data/all_df.csv')

In [121]:
len(result_df_final)

964665

In [143]:
# Function to create feature vectors
def create_feature_vectors3(df):
    feature_vectors_dict = {}

    for _, row in tqdm(df.iterrows(), total=df.shape[0]):
        comp_id = row['comp_id']
        atom_id = row['atom_id']
        key = (comp_id, atom_id)
        
        if key not in feature_vectors_dict:
            feature_vectors_dict[key] = []

        # Append relevant columns
        feature_vectors_dict[key].extend([
            row['atomic_number_joined'],
            row['value_order'],
            row['model_Cartn_x2'],
            row['model_Cartn_y2'],
            row['model_Cartn_z2']
        ])

    # Convert the dictionary to a list of feature vectors
    feature_vectors = [features for features in feature_vectors_dict.values()]
    
    return feature_vectors

In [140]:
# Generate the feature vectors
feature_vectors = create_feature_vectors3(result_df_final.head(3))
print(feature_vectors)

[[6, 1, '26.077', '13.812', '27.910', 1, 1, '24.573', '13.972', '26.319', 6, 2, '26.108', '12.501', '25.848']]

In [144]:
# Generate the feature vectors
feature_vectors = create_feature_vectors3(result_df_final)

100%|███████████████████████████████████████████████████████████████████████| 964665/964665 [01:10<00:00, 13634.34it/s]

In [142]:
for i in range(5):
    print(feature_vectors[i])

[6, 1, '26.077', '13.812', '27.910', 1, 1, '24.573', '13.972', '26.319', 6, 2, '26.108', '12.501', '25.848']
[1, 1, '27.782', '11.099', '25.653', 6, 1, '26.108', '12.501', '25.848', 6, 2, '27.879', '12.190', '27.538']
[6, 1, '29.320', '13.158', '22.147', 1, 1, '27.929', '11.677', '21.367', 7, 1, '26.958', '12.941', '22.761', 6, 1, '27.564', '13.571', '20.408']
[6, 1, '31.603', '12.604', '24.468', 6, 1, '30.983', '15.038', '24.632', 1, 1, '31.451', '13.996', '22.802', 8, 1, '29.567', '13.406', '23.456']
[7, 1, '36.204', '13.109', '21.980', 1, 1, '35.777', '13.801', '23.914', 6, 2, '34.617', '11.998', '23.378']

# Next

In [20]:
train_df['atomic_number'] = train_df['type_symbol'].apply(lambda x: gemmi.Element(x).atomic_number)

C:\Users\Hasan\AppData\Local\Temp\ipykernel_1980\1342702510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['atomic_number'] = train_df['type_symbol'].apply(lambda x: gemmi.Element(x).atomic_number)

In [21]:
train_df.head(20)

,comp_id,atom_id,type_symbol,model_Cartn_x,model_Cartn_y,model_Cartn_z,is_hydrogen,bonded_hydrogens,atomic_number
10,001,C02,C,25.498,13.476,26.660,False,1.0,6
14,001,C06,C,27.300,11.861,26.289,False,1.0,6
31,001,C16,C,27.938,12.754,21.659,False,1.0,6
35,001,C18,C,30.921,13.770,23.757,False,1.0,6
40,001,C23,C,35.552,13.034,23.155,False,1.0,6

In [30]:
type(train_df['type_symbol'].iloc[0])

str

# How to get the atomic number of an element with Gemmi

In [17]:
import gemmi
test = gemmi.Element('C')
test.atomic_number